@media screen and (min-width:320px) and (max-width:480px) {
    .info-container {
        width: 255px;
        
    }
    .info-title {
        font-size: larger;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .info-undertitle {
        text-align: center;
        line-height: 1.7;
    }


}